.bodyBg{
    background-color: rgba(22, 25, 32, 0.1);
}
.formIn{
    margin-top: 50px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 24px 10px rgba(0,0,0,0.2);
    
form{

    margin-bottom: 50px;
    label{
        padding: 2vh 0px;
        font-size: 1.2rem;
        // background-color: rgba(255,255,255,0.1);
        border-radius: 20px;
        margin: 0px;
        color: rgba(0,0,0,0.8);
        font-weight:500;
        
    
        input{
            // border: none;
            
            border-radius: 5px;
            border: 2px solid rgba(0,0,0,0.5);
            padding: 5px 10px;
            background-color: white;
            outline-color: rgba(0,0,0,0.0);
            transition-property: background-color, border-bottom;
            transition-duration: 0.5s;
            transition-timing-function: ease;
            font-size: 1.1rem;
            margin-right: 10px;

            &:focus{
                // background-color: rgba(0,0,0,0.1);
                // border-bottom: 2px solid rgba(0,0,0,1);
                background-color: white;
            }
           

    }
    .green{
        border: 2px solid green;
       }
       .red{
        border: 2px solid red;
       }
}
}}

.btn{
    margin: 0px 5px;
}

.bigBtn{
    width: 106px;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.2);
}

table{
    @media all and (min-width: 0px) and (max-width: 535px){
        &{
            position: relative;
            transform: scale(0.6);

            button{
                width: 40px;
            }
        }
    }
}